.one,
.two,
.three,
.four {
  background: #444;
  padding: 10px;
  margin: 10px;
}

.one {
  border-left: red solid 2px;
  color: red;
}
.two {
  border-left: green solid 2px;
  color: green;
}
.three {
  border-left: blue solid 2px;
  color: blue;
}
.four {
  border-left: orange solid 2px;
  color: orange;
}

p {
  color: red;
}
div p {
  color: blue;
}
div .special {
  color: green;
}

.container {
  background: yellow;
  padding: 10px;
  margin: 10px;
  /* min-width: 240px;
  max-width: 400px; */
  width: fit-content;
  min-height: 30px;
  max-height: 50px;
}
.overflow {
  background: #444;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 20px auto;
  border-radius: 10px;

  /* 
  overflow can be hidden ,visible ,scroll ,auto
  you can use overflow-x ,overflow-y
  */
  overflow: auto;
}
